
// Color-set

$color-001: #FFFFFF;
$color-002: #000000;

$default-link-color: inherit;
// ...

$main-layout-widt: 1200px;

// Fonts
$main-font-family: inherit;
$main-font-size: inherit;
$main-font-weight: normal;
$default-text-color: inherit;

//

// Headers
$headers-color: $default-text-color;
//

//$link-color: $color-XXX;
//$link-color--hover: $color-XXX;

// End of colorset

//$vector-stripe-url: image-url('vector-stripe.svg');

