@mixin wave-animation($hover-bg-color: transparent) {
	background-image: url('../img/wave-on-white.svg');
  background-repeat: repeat-x;
  background-position: -160px 58px;
  transition: background-position 1s;
	
  &:HOVER {
    background-color: $hover-bg-color;
    background-position: 160px -19px;
  }
}